<article class="post column box is-11 my-5 mx-5">
  <div class="title is-4">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
  </div>
  <div class="meta">
    Posted
    {{format_date date_created}}
  </div>
</article>