<h1>Welcome {{user}}</h1>
{{#each post}}
<section class="painting">
  <div class="painting-details">
    <h3>{{BlogPost.title}}</h3>
    <p>By: {{BlogPost.body}}</p>
    <p>Exhibition open until: {{ format_date painting.exhibition_date}}</p>
  </div>
</section>
{{/each}}
<form>
  <div class="mb-3">
    <label for="title" class="form-label">Email address</label>
    <input type="email" class="form-control" id="title" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Password</label>
    <input type="body" class="form-control" id="body">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>