{{!-- 
{{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}

<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> homepage-post-info post }}
    </li>
    {{/each}}
</ol>