<form class="login-form box column is-one-third mx-5">
  <div class="field">
    <label for="email-login" class="label">Email</label>
    <input type="text" id="email-login" class="input" placeholder="email@email.com" />
  </div>
  <div class="field">
    <label for="password-login" class="label">Password</label>
    <input type="password" id="password-login" class="input" placeholder="Password123" />
  </div>
  <div>
    <button type="submit" class="button is-link">Login</button>
  </div>
</form>

<form class="signup-form box column is-one-third mx-5">
  <div>
    <label for="username-signup" class="label">Username</label>
    <input type="text" id="username-signup" class="input" placeholder="XxSniper123xX" />
  </div>
  <div>
    <label for="email-signup" class="label">Email</label>
    <input type="text" id="email-signup" class="input" placeholder="email@email.com" />
  </div>
  <div>
    <label for="password-signup" class="label">Password</label>
    <input type="password" id="password-signup" class="input" placeholder="Password123" />
  </div>
  <div>
    <button type="submit" class="button is-primary my-3">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>